<h1>Ttitle: <%=@sub.title%></h1>
<h1>Desc: <%=@sub.description%></h1>

<ul>
  <% @sub.posts.each do |post|%>
    <li><a href="<%= post_url(post) %>"><%= post.title %></a></li>
  <% end %>
</ul>

<a href="<%=new_post_url()%>">New Post</a>